.left__sidebar {
  border-right: 1px solid var(--neutral-30, #e4e4e4);
  background: var(--neutral-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.left__sidebar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
}

/* .left__sidebar > div:hover {
    background: var(
        --gradient-primary,
        linear-gradient(219deg, #ffab18 0%, #ff2197 100%)
      );
      color: white;
      fill: white;
} */

.active__category {
    background: var(
        --gradient-primary,
        linear-gradient(219deg, #ffab18 0%, #ff2197 100%)
      );
      color: white;
}




.left__sidebar > div > small {
    font-size: var(--size-xxs);
}



/* 2xl
@media ( max-width: 1536px) {
 
}


/* xl */
/* @media ( max-width: 1280px) {
  

} */



/* lg*/
@media ( max-width: 1024px) {

  .left__sidebar div {
    padding: 6px 8px;

  }

  .left__sidebar div svg {
    height: 20px;
  }

}

/* md */
/* @media ( max-width: 768px) {
  
} */



/* sm */
/* @media ( max-width: 640px) {
      
} */


/* xs */
/* @media ( max-width: 475px) {
   
} */ 
