@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
  --primary-color: rgb(255, 92, 0);
  --primary-10: rgba(255, 245, 238, 1);
  /*Colors*/
  --text-color: rgb(25, 25, 28, 1);
  --primary-color-10: rgb(255, 245, 238);
  --neutral-100: rgb(25, 25, 28, 1);
  --neutral-10: #fff;
  --neutral-20: #F8F9FD;
  --neutral-30: #E4E4E4;
  --neutral-60: #828487;
  --neutral-40: rgba(194, 194, 194, 1);
  --gradient-primary:  linear-gradient(219deg, #FFAB18 0%, #FF2197 100%);


  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* border */

  --border-1: 1px solid var(--neutral-30);

  /* transition */
  --transition: all 800ms ease;
  --transition-2: all 400ms ease;

  --border-radius: 1rem:
}

html {
  font-family: 'Poppins', sans-serif;
}



a {
  text-decoration: none;
}

input,
a,
button,
img {
  display: block;
}

img {
  width: 100%;
}

input {
  border: none;
  outline: none;
}

.btn {
  border-radius: 60px;
}

ul {
  list-style: none;
  padding: 0;
}